{% extends "base.html" %}

{% block content %}
<div class="w3-container align-center">
    <h2>{{country.name}}</h2>
    <div class="w3-card-4" style="width:50%">
            <img src="https://source.unsplash.com/500x500/?{{country.name}}" alt=""/>
            <div>
    <form action="/countries/{{country.id}}" method="post" class="form">
</form>
<form action="/countries/{{country.id}}/edit">
    <input type="submit" value="Add into your Bucket-list"/>
  </form>
</div>
</div>
</div>


{% endblock %}