{% extends "base.html" %}
{% block content %}
<h1>Visited Countries List: </h1>
<div class="container">
  
  <form action="/countries/visited" method = "POST">
  {% for visited in visited_countries %}
  
          {% if visited.visited == True %}
    <div class="w3-container align-center">
    <h3>{{visited.name}}</h3>
    <img src="https://source.unsplash.com/500x500/?{{visited.name}}" alt=""/>
 {% endif %}

{% endfor %}
<p><a href="/countries">Return to list</a></p>
  </form>
</div>
{% endblock %}