{% extends "base.html" %}

{% block content %}
<div class="w3-container align-center">
    <h2>Edit to your list: </h2>
<form action="/countries/cities/{{city.id}}" method="post">
    <div>
        <label for="name">City :</label>
        <input type="text" name="name" id="name" value={{city.name}}>
    </div>
    
    <div>
        <label for="country">Country:</label>
        <select name="country_id" id="country_id">
            {% for country in countries %}
            <option value="{{ country.id }}"
            {% if city.country.id == country.id %}
            selected="selected"  {% endif %}   >
            {{ country.name }}
        </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="visited">Visited:</label>
        <select name="visited" id="visited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>


    <button class="button-update" type="submit">Update </button>
</form>
</div>

{% endblock %}