{% extends 'base.html' %}

{% block content %}


<h1>List of Cities </h1>
<div class="container">

  {% for city in all_cities %}
  <div class="w3-container align-center">
    
    <h2>{{city.name}}</h2>
    <div class="w3-card-4" style="width:50%">

  <img src="https://source.unsplash.com/500x500/?{{city.name}}" alt="">
    <div>
      <form class="edit" action="/countries/cities{{city.id}}/edit">
        <input type="submit" value="Edit"/>
      </form>

    <form action="/countries/cities/{{city.id}}/delete" method="POST">
        <input type="submit" value="Delete"/>
    </form>
    </div>
  </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}