{% extends 'base.html' %}

{% block content %}

<h1>List of Cities </h1>

<section>
  {% for city in all_cities %}
  
  <img src="https://source.unsplash.com/500x500/?{{city.name}}" alt="">
    <hgroup>
      <h4><a href="//countries/cities"> {{city.name}} </a></h4>
      <p>
        
      <form class="edit" action="/countries/cities{{city.id}}/edit">
        <input type="submit" value="Edit" class="button-update">
      </form>

    <form class="delete-from" action="/countries/city{{city.id}}/delete" method="POST">
        <input type="submit" value="Delete" class="button-update">
    </form>
      </p></hgroup>
  {% endfor %}
</section>
       
<button class="button-with-link"><a href="/countries/city/new" style="text-decoration: none; color: #566270";>Add New City</a></button>
{% endblock content %}