{% extends 'base.html' %}

{% block content %}

<h1>List of Sights </h1>
<img src="https://source.unsplash.com/500x500/?{{sight.name}}" alt="">
    <hgroup>
      <h4><a href="//countries/cities/sights"> {{sight.name}} </a></h4>
      <p>
        
      <form class="edit" action="/countries/cities/sight{{sight.id}}/edit">
        <input type="submit" value="Edit" class="button-update">
      </form>

    <form class="delete-from" action="/countries/city/sight{{sight.id}}/delete" method="POST">
        <input type="submit" value="Delete" class="button-update">
    </form>
      </p></hgroup>
  {% endfor %}
</section>
       
<button class="button-with-link"><a href="/countries/city/new" style="text-decoration: none; color: #566270";>Add New City</a></button>
{% endblock content %}
<table>
  <tr>
  
  </tr>
  {% for sight in all_sights %}
  <tr>
    <td><a href="//countries/cities/sights"> {{sight.name}} </a></td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}