body {

  font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
}

header {
  padding: 16px;
  background-color: green;
  color: black;
  text-align: center;
  grid-area: header;
}

#menu {
  padding: 30px;
  background-color: none;
  grid-area: menu;
  font-weight: bold;
 
}

nav {
  margin-top: 19.92px;
  display: flex;
  flex-flow: column nowrap;
  align-items: left;
}

#main-content {
  padding: 32px;
  grid-area: main;
}

footer {
  padding: 16px;
  background-color: green;
  color: black;
  font-weight: bold;
  text-align: center;
  grid-area: footer;
}

#grid-container {
 display: grid;
 grid-template-areas:
 'header header'
 'menu main'
 'footer footer'
 ;
 grid-template-columns: 3fr 7fr;

}
#gallery {
  display: flex;
  flex-flow: row wrap;
}

.image {
  width: 250px;
  height: 250px;
  background-color: lightblue;
  border: 1px solid white;
  flex: 33%;
}

.large {
flex: 66%;
}

.first {
 order: -1;
}

.last {
order: 1;
}