<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Travel Adventure!!</title>
</head>
<body>
      <header>
        <h1>Travel Bucket List !!</h1>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/countries">Countries</a></li>
        <li><a href="/Countries/new">Add New Country</a></li>
        <li><a href="/countries/cities">Cities</a></li>
        <li><a href="/countries/cities/new">Add New City</a></li>
        <li><a href="/countries/cities/sights">Sights</a></li>
        <li><a href="/countries/cities/sights/new">Add New Sight</a></li>
        <li><a href="/destinations">Destinations</a></li>
        <li><a href="/destinations/new">Add New Destination</a></li> 
        
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  
</body>
</html>

